/*  ==================================
  Grid Container
================================== */
.container {
  width: 100%;
  padding: 0 40px;
  margin: 0px auto;
  box-sizing: content-box !important;

  @include breakpoint ( medium down ) {
    padding: 0;
  }

  &-fluid {
    width: 100%;
    max-width: 100%;
    padding: 0 40px;

    .columns {
      padding-right: 20px;
      padding-left: 20px;
    }

    @include breakpoint ( medium down ) {
      padding: 0;
    }
  }

  .row--flex-stretch {
    display: flex;
    align-items: stretch;
  }
}

.row--reverse {
  display: flex;
  flex-direction: row-reverse;
}