/* ===========================
  Fonts & Type
=========================== */
body {
  font-family: $f-body, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $c-black;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.27;
}

@font-face {
  font-family: 'brownregular';
  src: url('~assets/fonts/brown-regular-webfont.woff2') format('woff2'), url('~assets/fonts/brown-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brownbold';
  src: url('~assets/fonts/brown-bold-webfont.woff2') format('woff2'), url('~assets/fonts/brown-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brownlight';
  src: url('~assets/fonts/brown-light-webfont.woff2') format('woff2'), url('~assets/fonts/brown-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.f-heading-136-90 {
  font-family: $f-heading;
  line-height: 1;
  @include v-spacing(font-size, 90px, 136px);
}

.f-heading-120-90 {
  font-family: $f-heading;
  line-height: 1.17;
  @include v-spacing(font-size, 90px, 120px);
}

.f-heading-98-46 {
  font-family: $f-heading;
  line-height: 1;
  @include v-spacing(font-size, 46px, 98px);

  &--light {
    font-family: $f-body-light;
  }
}

.f-heading-36-28 {
  font-family: $f-heading;
  line-height: 1;
  @include v-spacing(font-size, 28px, 36px);
}

.f-regular-22-18 {
  font-family: $f-body;
  line-height: 1.27;
  @include v-spacing(font-size, 18px, 22px);
}

.f-light-22-18 {
  @extend .f-regular-22-18;
  font-family: $f-body-light;
}

.f-bold-22-18 {
  @extend .f-regular-22-18;
  font-family: $f-heading;
}

.f-light-62-46 {
  font-family: $f-body-light;
  line-height: 1.32;
  @include v-spacing(font-size, 46px, 62px);
}
