/* ===========================
  Colors
=========================== */
$c-white: #ffffff;
$c-black: #181818;
$c-light-grey: #efefef;


/* ===========================
  Fonts
=========================== */
$f-heading: 'brownbold';
$f-body: 'brownregular';
$f-body-light: 'brownlight';


/* ===========================
  Widths & Heights
=========================== */
$h-navbar: 60px;
$h-navbar-mobile: 50px;
$w-grid-small: 1280px;


/* ===========================
  z-index
=========================== */
$z-navbar: 100;

/* ===========================
  Transitions
=========================== */
$t-standard: 150ms linear;
$t-cubic-bez: cubic-bezier(0.535, 0, 0, 1);

/* ===========================
  Foundation Grid
=========================== */
$container-padding: 60px;
$container-padding-small: 20px;

$grid-column-gutter: (
  small: 15px,
  medium: 40px,
);

$global-width: 9999px + map-get( $grid-column-gutter, medium );
$grid-column-count: 20;
$global-flexbox: false;
$global-right: left;
$global-left: left;
$breakpoints: (
  small: 0,
  medium: 640px,
  xmedium: 980px,
  large: 1200px,
  xlarge: 1400px,
  xxlarge: 1800px
);
$breakpoint-classes: (small medium xmedium large xlarge xxlarge);
